// Variables

$solidGreen: #AEE1D5;
$lightGreen: #E6FFF9;
$solidBlue: #96C0F2;
$solidBlueText: #5988C0;
$lightBlue: #4AD1FF;
$lightRed: #EAC6CC;

// Mixins

@mixin mQ($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(0deg, $lightGreen, white);
  color: $solidBlueText;
  @include mQ(700px) {
    background: none;
    background-color: $solidGreen;

    .nav-tags {
      display: none;
    }
  }

  ul {
    list-style-type: none;
  }

  li {
    float: left;
    padding-right: 40px;
    font-family: "Trebuchet MS", Arial, sans-serif;
  }

  a {
    color: $solidBlue;
  }

  a:hover {
    color: white;
  }

  .logo {
    padding-left: 40px;
  }

  .burger {
    display: none;
    @include mQ(700px) {
      display: block;
      margin: 40px;
      font-size: 30px;
    }
  }
}

.burger-nav {
  width: 100%;
  display: none;
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  li {
    width: 100%;
    text-align: center;
    float: left;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 10px 0;
    background-color: $solidBlue;
  }

  a {
    color: white;
  }
}

.main-content {
  width: 100%;
  padding-top: 7%;
  color: $solidBlue;
  background: linear-gradient(lighten($lightBlue, 30%), white);
  @include mQ(600px) {
    background: linear-gradient(90deg, darken($lightGreen, 10%), white);
  }

  img {
    width: 100%;
  }

  h3 {
    font-size: 2em;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
  }

  .core-text {
    padding: 20px;
    text-align: center;
    background: linear-gradient(0deg,lighten($lightRed, 5%), white 80%);
    @include mQ(1000px) {
      h3 {
        font-size: 1.7em;
      }
    }
    @include mQ(600px) {
      background: linear-gradient(90deg, darken($lightGreen, 10%), white);
    }
  }
}

@include mQ(600px) {
  .photo {
    display: none;
  }
}

.photo {
  width: 100%;
  color: $solidBlueText;
  text-align: center;
  background: linear-gradient(0deg, $lightRed, white);
  padding-bottom: 100px;


  .images-description {
    display: flex;
    width: 100%;
    @include mQ(768px) {
      flex-wrap: wrap;
    }
  }

  .description-top {
    display: flex;
  }

  .description-bottom {
    display: flex;
  }

  .image {
    width: 100%;
    height: auto;
  }

  p {
    padding: 10px 5px 5px 0;
    font-family: "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  }

  img {
    width: 100%;
    height: 200px;
  }
}

.footer {
  color: $solidBlueText;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px 20px 20px;
  background: linear-gradient($lightGreen, white);

  p {
    margin: 0;
  }

  a {
    color: $solidBlue;
  }

  a:hover {
    text-decoration: underline;
  }
}
