// Variables

$solidGreen: #AEE1D5;
$lightGreen: #E6FFF9;
$solidBlue: #96C0F2;
$solidBlueText: #5988C0;
$lightBlue: #4AD1FF;
$lightRed: #EAC6CC;

// Mixins

@mixin mQ($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(0deg, $lightGreen, white);
  color: $solidBlueText;
  @include mQ(700px) {
    background: none;
    background-color: $solidGreen;

    .nav-tags {
      display: none;
    }
  }

  ul {
    list-style-type: none;
  }

  li {
    float: left;
    padding-right: 40px;
  }

  .logo {
    padding-left: 40px;
  }

  .burger {
    display: none;
    @include mQ(700px) {
      display: block;
      margin: 40px;
    }
  }
}

.main-content {
  width: 100%;
  padding-top: 7%;
  color: $solidBlue;
  background: linear-gradient(lighten($lightBlue, 30%), white);

  img {
    width: 100%;
  }

  .core-text {
    padding: 20px;
    text-align: center;
    background: linear-gradient(0deg,lighten($lightRed, 10%), white 80%);
  }
}

.photo {
  width: 100%;
  color: $solidBlueText;
  text-align: center;

  .images-description {
    display: flex;
    width: 100%;
  }

  img {
    width: 100%;
  }
}
